<div class="container">
  <div class="side-field" [style.display]="getMenuStyle()">
    <ul class="list">
      <li routerLink="/app/settings/general" routerLinkActive="link-active">{{ 'general' | translate }}</li>
      <!-- <li routerLink="/app/settings/notifications" routerLinkActive="link-active">{{ 'notification' | translate }}</li>
      <li routerLink="/app/settings/notifications_sound" routerLinkActive="link-active">{{ 'notification_sound' | translate }}</li> -->
    </ul>
  </div>
  <main [style.display]="getMainStyle()">
      <router-outlet></router-outlet>
  </main>
</div>

