.container{
  display: flex;
  height: 100vh;
  overflow-x: hidden;

  @media screen and (max-width: 800px){
    display: block;
  }

  main{
    flex-grow: 1;
  }
}

.side-field {
  min-width: 260px;
  width: 20vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background: #444753;


  @media screen and (max-width: 800px){
    width: 100vw;
    z-index: 5;
  }

  @media screen and (max-width: 500px){
    padding-bottom: 50px;
  }

  .list{
    margin: 0 0 10px 0;
    flex-grow: 1;
    padding: 10px 0;

    li{
      color: #dfdce4;
      // text-align: center;
      padding: 15px 25px;
      cursor: pointer;

      &:hover{
        background: rgba(255, 255, 255, 0.1);
        color: #ffffff;
      }
    }
  }
}


