<div class="container">
  <div class="side-field">
    <div class="search">
      <div class="search-field">
        <input type="text" placeholder="{{ 'form.input.search' | translate }}" #search/>
        <i class="fa fa-search"></i>
        <i class="fa fa-times" title="{{ 'hint.cancel' | translate }}" (click)="clearSearchInput()" *ngIf="search.value !== ''" ></i>
    </div>
    </div>
    <div class="friend-menu">
      <div class="row">
        <div class="button" title="{{ 'title.all_friends' | translate }}" routerLink="all" routerLinkActive="button-active" >
            <i class="fa fa-user"></i>
        </div>
        <div class="button" title="{{ 'title.friend_online' | translate }}" routerLink="online" routerLinkActive="button-active">
            <i class="fas fa-user-clock"></i>
        </div>
        <div class="button" title="{{ 'title.invites' | translate }}" routerLink="invite" routerLinkActive="button-active">
            <i class="fa fa-user-plus"></i>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <ul class="friend-list" #friendList>
      <router-outlet></router-outlet>
    </ul>
  </div>
  <main>
    <router-outlet name="main"></router-outlet>
  </main>
</div>
