.side-field {
  min-width: 260px;
  width: 20vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background: #444753;

  .divider {
    height: 2px;
    background: #666871;
    margin: 0 15px 10px 15px;
  }

  .search {
    padding: 15px;

    .search-field{
      position: relative;

      input {
        height: 100%;
        width: 100%;
        border-radius: 3px;
        border: none;
        padding: 10px 10px 10px 35px;
        color: white;
        background: rgba(104, 106, 113, 0.34);
        font-size: 14px;

        &:focus{
          background: #31333c;
        }

        &::-webkit-input-placeholder {
          color: rgb(197, 197, 197);
        }
      }

      .fa-search {
        position: absolute;
        left: 10px;
        top: -1px;
        line-height: 38px;
        color: rgb(197, 197, 197);
        // cursor: pointer;

        // &:hover {
        //   color: #fff;
        // }
      }
    }
  }

  .friend-menu{
    padding: 18px 15px;
    // padding-right: 15px;
    width: 100%;
    display: table;
    text-align: center;

    .row{
      display: inline-block;
      width: 100%;
      // padding-top: 15px;
      // padding-bottom: 15px;
    }

    .button-active{
      color: #ffffff !important;
    }

    .button{
      color: #94909c;
      cursor: pointer;
      font-size: 20px;
      margin-right: 20px;
      display: inline-block;

      &:last-child{
        margin-right: 0;
      }

      *{
        cursor: pointer;
      }

      &:hover{
        color: #ffffff;
      }
    }
  }

  .friend-list{
    // overflow-y: scroll;
    margin: 0 0 10px 0;
    flex-grow: 1;

  }
}
