<div class="side-field">
    <div class="search">
      <div class="search-field">
          <input type="text" placeholder="Поиск" #search/>
          <i class="fa fa-search"></i>
      </div>
    </div>
    <div class="friend-menu">
      <div class="row">
        <div class="button" title="Все друзья" routerLink="all" routerLinkActive="button-active" >
            <i class="fa fa-user"></i>
        </div>
        <div class="button" title="Друзья онлайн" routerLink="online" routerLinkActive="button-active">
            <i class="fa fa-user-secret"></i>
        </div>
        <div class="button" title="Избранные контакты" routerLink="favorite" routerLinkActive="button-active">
            <i class="fa fa-star"></i>
        </div>
        <div class="button" title="Заявки в друзья" routerLink="invite" routerLinkActive="button-active">
            <i class="fa fa-user-plus"></i>
        </div>
        <div class="button" title="Круппы пользователей" routerLink="search" routerLinkActive="button-active">
            <i class="fa fa-users"></i>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <ul class="friend-list" #friendList>
      <router-outlet></router-outlet>
    </ul>
  </div>
