<div class="side-field">
    <div class="search">
      <div class="search-field">
          <input type="text" placeholder="Поиск" routerLinkActive="button-active" [routerLinkActiveOptions]="{ exact: true }" #search/>
          <i class="fa fa-search"></i>
      </div>
    </div>
    <div class="friend-menu">
      <div class="row">
        <div class="button button-active" title="Все друзья" routerLinkActive="button-active" routerLink="all" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa fa-user"></i>
        </div>
        <div class="button" title="Друзья онлайн" routerLink="online" routerLinkActive="button-active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa fa-user-secret"></i>
        </div>
        <div class="button" title="Избранные контакты" routerLink="" routerLinkActive="button-active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa fa-star"></i>
        </div>
        <div class="button" title="Заявки в друзья" routerLink="" routerLinkActive="button-active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa fa-user-plus"></i>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <ul class="friend-list" #friendList>
      <router-outlet></router-outlet>
    </ul>
  </div>
