<div class="container">
  <div class="side-field" [style.display]="getMenuStyle()">
    <div class="search">
      <div class="search-field">
          <input type="text" placeholder="{{ 'form.input.search' | translate }}" #search
          (input)="changeSearchValueOnInput($event)"/>
          <i class="fa fa-search"></i>
          <i class="fa fa-times" title="Отмена" (click)="clearSearchInput()" *ngIf="search.value !== ''" ></i>
      </div>
    </div>
    <ul class="user-list" #userList>
      <div *ngIf="dataIsLoaded; else loading">
        <div *ngIf="searchService.usersFiltered.length > 0; else notFound">
          <li *ngFor="let user of searchService.usersFiltered; let i = index">
            <div class="user" routerLink="user/{{user.id}}" routerLinkActive="link-active">
              <div class="image">
                <img src="{{user.avatar}}" alt="avatar" draggable="false"/>
                <div class="status" *ngIf="user.online === true">
                  <span>
                      <i class="fa fa-circle online"></i>
                  </span>
                  <!-- <ng-template #left>
                      <i class="fa fa-circle offline"></i>
                  </ng-template> -->
                </div>
              </div>
              <div class="about">
                <div class="name">{{user.nickname}}</div>
              </div>
            </div>
          </li>
        </div>
        <ng-template #notFound>
          <li class="notification">
            Пользователей не найдено
          </li>
        </ng-template>
      </div>
      <ng-template #loading>
        <div class="load" title="{{ 'hint.loading' | translate }}">
          <i class="fas fa-sync fa-spin fa-3x fa-fw"></i>
        </div>
      </ng-template>
    </ul>
  </div>
  <main [style.display]="getMainStyle()">
    <router-outlet></router-outlet>
  </main>
</div>

