<div class="container">

    <nav class="menu">
      <ul class="items">
        <li class="item">
          <i class="fa fa-home"></i>
        </li>
        <li class="item">
          <i class="fa fa-user"></i>
        </li>
        <li class="item item-active">
          <i class="fa fa-commenting"></i>
        </li>
        <li class="item">
          <i class="fa fa-cog"></i>
        </li>
        <li class="item">
          <i class="fa fa-sign-out"></i>
        </li>
      </ul>
      <div class="misc">
        <div class="notification" title="Уведомления">
            <i class="fa fa-bell"></i>
        </div>
        <div class="language" title="Сменить язык">
            <i class="fa fa-language"></i>
        </div>
      </div>
    </nav>

    <div class="side-field">
      <div class="search">
        <div class="search-field">
            <input type="text" placeholder="Search" (input)="filterFriends($event)"/>
            <i class="fa fa-search"></i>
        </div>
      </div>
      <ul class="friend-list" #friendList>
        <div *ngIf="filteredFriends.length > 0; else noFriends">
          <li class="friend" *ngFor="let friend of filteredFriends">
            <div class="image">
              <img src="{{friend.img}}" alt="avatar" draggable="false"/>
              <div class="status">
                <span *ngIf="friend.online == 'online'; else left" >
                    <i class="fa fa-circle online"></i>
                </span>
                <ng-template #left>
                    <i class="fa fa-circle offline"></i>
                </ng-template>
              </div>
            </div>
            <div class="about">
              <div class="name">{{friend.name}}</div>
              <div class="favorite" title="Добавить в избранное">
                  <i class="fa fa-star"></i>
              </div>
            </div>
          </li>
        </div>
        <ng-template #noFriends>
            <li class="notification" *ngIf="friends.length === 0; else noMatch">
              У Вас нет друзей
            </li>
            <ng-template #noMatch>
              <li class="notification">
                Друзей не найдено
              </li>
            </ng-template>
        </ng-template>
      </ul>
    </div>

    <div class="chat">

      <div class="chat-header">
        <div class="left">
            <img src="{{currentChat.image}}" draggable="false" [title]="currentChat.name"/>
            <div class="chat-about">
              <div class="chat-with">{{currentChat.name}}</div>
              <!-- <div class="chat-num-messages">already {{messages.length}} messages</div> -->
            </div>
        </div>
        <div class="right">
            <div class="video" title="Видеозвонок">
                <i class="fa fa-video-camera"></i>
            </div>
            <div class="phone" title="Позвонить">
                <i class="fa fa-phone"></i>
            </div>
            <div class="add-user" title="Добавить пользователя">
                <i class="fa fa-user-plus"></i>
            </div>
        </div>
      </div>

      <ul class="chat-history" #chat (scroll)="slideToBottom($event)">
        <div class="message-list">
          <li *ngFor="let msg of messages" class="msg-block">
            <div [ngClass]="(msg.id == '1')?'my-message':'other-message'">
              <div class="message-data">
                <div class="row">
                    <img src="{{msg.image}}" alt="avatar" draggable="false" title="{{msg.name}}"/>
                    <span class="message-data-time" >{{msg.time}}</span>
                </div>
              </div>
              <div class="msg">
                <div class="message">
                  {{msg.message}}
                </div>
              </div>
            </div>
          </li>
        </div>
      </ul>

      <div class="chat-message">

        <div class="message-input">
          <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" #messageArea (keydown)="onTextMessage($event)" rows="1"></textarea>
          <div class="input-items">
            <div class="item keyboard" title="Экранная клавиатура">
                <i class="fa fa-keyboard-o"></i>
            </div>
            <div class="item smiles" title="Добавить смайл">
                <i class="fa fa-smile-o"></i>
            </div>
            <div class="item add" title="Прикрепить файл">
                <i class="fa fa-paperclip"></i>
            </div>
          </div>
        </div>
        <div class="send" title="Отправить сообщение">
            <button (click)="sendMessage(messageArea)">
                <i class="fa fa-paper-plane"></i>
            </button>
        </div>
        <div class="scroll-bottom" (click)="scrollToBottom()" #scrollBottom>В конец</div>
      </div> <!-- end chat-message -->

    </div> <!-- end chat -->

  </div> <!-- end container -->
