<nav class="menu">
  <ul class="items">
    <li class="avatar">
      <div class="image" title="{{ 'hint.profile' | translate }}">
        <div class="img-outer">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_02.jpg" alt="avatar" draggable="false"/>
        </div>
        <div class="status">
          <span>
              <i class="fa fa-circle online"></i>
          </span>
        </div>
      </div>
    </li>
    <li class="link" routerLink="/app/search" routerLinkActive="link-active" title="{{ 'hint.search' | translate }}" (click)="changeSearchTitle()">
      <i class="fa fa-search"></i>
    </li>
    <li class="link" routerLink="/app/friends" routerLinkActive="link-active" title="{{ 'hint.friends' | translate }}" (click)="changeFriendsTitle()">
      <i class="fa fa-user"></i>
      <div class="counter" *ngIf="inviteService.users.length > 0">
        <span>
            {{inviteService.users.length}}
        </span>
      </div>
    </li>
    <li class="link" routerLink="/app/favorite" routerLinkActive="link-active" title="{{ 'hint.favorite' | translate }}" (click)="changeFavoriteTitle()">
      <i class="fa fa-star"></i>
    </li>
    <li class="link" routerLink="/app/messages" routerLinkActive="link-active" title="{{ 'hint.chats' | translate }}" (click)="changeChatsTitle()">
      <i class="fa fa-commenting"></i>
    </li>
    <li class="link" routerLink="/app/settings" routerLinkActive="link-active" title="{{ 'hint.settings' | translate }}" (click)="changeSettingsTitle()">
      <i class="fa fa-cog"></i>
    </li>
    <div class="active-block"></div>
  </ul>
  <div class="misc">
    <div class="notification" title="{{ 'hint.notification' | translate }}">
        <i class="fa fa-bell"></i>
    </div>
    <div class="language" title="{{ 'hint.lang' | translate }}" [ngClass]="{'lang-show': showLanguage}" (click)="toggleLanguageVisibility()">
        <i class="fa fa-language"></i>
        <div class="language-list">
          <div class="lang" (click)="changeLangToRus()">
            <img src="/assets/images/flags/ru.png" alt="">
          </div>
          <div class="lang" (click)="changeLangToEn()">
            <img src="/assets/images/flags/en.png" alt="">
          </div>
        </div>
    </div>
    <div class="logout" routerLink="/auth/login" (click)="logout()" title="{{ 'hint.exit' | translate }}">
      <i class="fa fa-sign-out"></i>
    </div>
  </div>
</nav>
