.menu {
  height: 100vh;
  // width: 70px;
  min-width: 70px;
  background: rgb(49, 51, 60);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .avatar{
    text-align: center;
    padding: 10px 0 10px 0;

    .online {
      color: #8ac176;
    }

    .offline {
      color: #E38968;
    }

    .image{
      position: relative;
      display: inline-block;
      z-index: 10;

      &:hover img{
        transform: scale(1.2);
      }

      .img-outer{
        border-radius: 50%;
        height: 50px;
        width: 50px;
        overflow: hidden;

        img {
          vertical-align: middle;
          height: inherit;
          width: inherit;
          transition: transform .2s ease-in-out;
        }
      }


      .status {
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 50%;
        padding: 7px;
        background: #444753;
        height: 10px;
        width: 10px;
        justify-content: center;
        align-items: center;
        display: flex;
      }
    }
  }

  .items {
    list-style:none;
    margin: 0;
    padding: 0;
    width: inherit;
    position: relative;

    *{
      cursor: pointer;
    }

    .link {
      display:flex;
      justify-content: center;
      align-items: center;
      color: #94909c;
      font-size: 25px;
      position: relative;
      border: 4px solid transparent;
      padding: 1rem;
      z-index: 5;
      background: transparent;

      .counter{
        position: absolute;
        top: 52%;
        left: 53%;
        font-size: 12px;
        color: #000000;
        background: #8291e4;
        border-radius: 50%;
        height: 16px;
        width: 16px;
        display: flex;
        justify-content: center;
        align-items: center;

        span{
          color: #fff;
          position: absolute;
          top: 2px;
        }

      }

      &:not(.link-active):hover {
        color: #ffffff;
      }
    }

    .active-block{
      z-index: 4;
      position: absolute;
      background: rgb(68, 71, 83);
      width: 100%;
      height: 67px;
      top: -100px;
      left: 0;
      transition: top 0.2s cubic-bezier(0.25, 0.25, 0.25, 1.25);
      display: none;

      &:before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        background: #8291e4;
        height: 100%;
        width: 4px;
      }
    }

    .link-active {
      color: #FFF;
    }
  }

  .misc{
    width: inherit;
    margin-bottom: 10px;

    *{
      cursor: pointer;
    }

    .notification, .language, .logout{
      text-align: center;
      color: #94909c;
      font-size: 18px;
      padding: 10px;
      position: relative;

      .counter{
        position: absolute;
        top: 52%;
        left: 53%;
        font-size: 12px;
        color: #000000;
        background: #8291e4;
        border-radius: 50%;
        height: 16px;
        width: 16px;
        display: flex;
        justify-content: center;
        align-items: center;

        span{
          color: #fff;
          position: absolute;
          top: 2px;
        }
      }

      .notification-list{
        position: absolute;
        background: #212227;
        top: -511px;
        left: 100%;
        z-index: -1;
        height: 100vh;
        box-shadow: 7px 0px 30px 0px rgba(0, 0, 0, 0.71);
        min-width: 260px;
        width: 20vw;
        transition: opacity 0.5s;
        opacity: 0;
        cursor: default;

        * {
          cursor: default;
        }

        .notification{
          margin: 15px;
          padding: 10px;
          color: #ddd;
          background: rgba(255, 255, 255, 0.1);
          border-radius: 3px;
          list-style-type: none;
          font-size: 16px;
        }

        > div {

          overflow: hidden;

          > div {
            overflow-y: scroll;
            height: 100%;
            margin-right: -15px;
            padding: 10px 0;
          }
        }


        &:before{
          content: '';
          position: absolute;
          right: 100%;
          bottom: 96px;
          border: 15px solid transparent;
          border-right: 15px solid #212227;
        }
      }

      .language-list{
        position: absolute;
        background: #212227;
        top: 0;
        left: 90%;
        z-index: 99;
        display: none;
        height: 40px;
        border-radius: 3px;

        .lang{
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-left: 5px;
          padding-right: 5px;

          &:first-child:before{
            content: '';
            position: absolute;
            right: 100%;
            bottom: 11px;
            border: 10px solid transparent;
            border-right: 10px solid #212227;
          }

          &:first-child:hover:before{
            border-right-color: #151517;
          }

          &:hover{
            background: #151517;
          }

        }

        img{
          display: inline;
        }
      }

      &:hover{
        color: #ffffff;
      }
    }
  }
}


.lang-show .language-list {
  display: flex !important;
}

.lang-show > i, .notif-show > i{
  color: #ffffff !important;
}

.notif-show .notification-list{
  opacity: 1 !important;
  z-index: 99 !important;
}

.pulse {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: transparent;
}

.pulse-red:before,
.pulse-red:after, .p {
  box-shadow: 0 0 1px #c73030 !important;
}

.pulse:before,
.pulse:after, .p {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  border-radius: 50%;
  box-shadow: 0 0 1px #287ec6;
  animation: glow-grow 2s ease-out;
}
.pulse:after {
  animation-delay: .66s;
}
.pulse > .p{
  animation-delay: 1.33s;
  }


@keyframes glow-grow {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}











.friend{
  padding: 0 10px;
  display: flex;
  font-size: 16px;
  position: relative;

  &:hover {
    background: rgba(255, 255, 255, 0.1)
  }

  &:hover .right{
    display: flex !important;
  }

  .image{
    position: relative;

    img {
      border-radius: 50%;
      vertical-align: middle;
      height: 50px;
      width: 50px;
    }

  }

  .about {
    // margin-left: 10px;
    // display: flex;
    // align-items: center;
    // flex-grow: 1;
    padding: 15px 0;
    border-bottom: 1px solid #656565;

    .description{
      color: #fff;
      // flex-grow: 1;
      // width: 50px;
      overflow:hidden;
      // display:inline-block;
      text-overflow: ellipsis;
      // white-space: nowrap;
      margin-right: 10px;
      text-align: left;

      a, a:active, a:hover, a:visited {
        color: #8291e4 !important;
      }

      a{
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .date{
      text-align: left;
      color: #777 !important;
      margin-top: 10px;
      font-size: 12px;
    }

    .right{
      display: none;
      margin-right: 15px;
      align-items: center;
      position: absolute;
      right: 0;
      top: 15px;

      .refuse{
        font-size: 20px !important;
        position: relative;
        top: -1px;

        &:hover{
          color: #c93535 !important;
        }
      }

      .item{
        color: #ddd;
        font-size: 17px;
        cursor: pointer;
        transition: color 0.3s;
        margin-left: 7px;

        *{
          cursor: pointer;
        }

        &:hover{
          color: #ffffff;
        }
      }
    }
  }
}
