<div *ngIf="dataIsLoaded; else loading">
  <div *ngIf="friendsService.usersFiltered.length > 0; else noFriends">
    <li class="friend" *ngFor="let friend of friendsService.usersFiltered; let i = index" routerLink="/app/friends/all/user/{{friend.id}}" routerLinkActive="link-active">
      <div class="image">
        <img src="{{friend.avatar}}" alt="avatar" draggable="false"/>
        <div class="status" *ngIf="friend.online">
          <span>
              <i class="fa fa-circle online"></i>
          </span>
          <!-- <ng-template #left>
              <i class="fa fa-circle offline"></i>
          </ng-template> -->
        </div>
      </div>
      <div class="about">
        <div class="name">{{friend.nickname}}</div>
        <div class="right" appStopBubbling>
          <!-- <div class="item favorite" *ngIf="!friend.isFavorite"  title="{{ 'hint.add_favorite' | translate}}">
              <i class="fa fa-star"></i>
          </div> -->
          <div class="item refuse" title="{{ 'hint.del_friend' | translate}}">
              <i class="fa fa-times" (click)="friendsService.deleteFriend(i)"></i>
          </div>
        </div>
      </div>
    </li>
  </div>
  <ng-template #noFriends>
      <li class="notification" *ngIf="searchInput.value == ''; else noMatch">
        Список пуст
      </li>
      <ng-template #noMatch>
        <li class="notification">
          Друзей не найдено
        </li>
      </ng-template>
  </ng-template>
</div>
<ng-template #loading>
  <div class="load" title="{{ 'hint.loading' | translate }}">
    <i class="fas fa-sync fa-spin fa-3x fa-fw"></i>
  </div>
</ng-template>
