.container{
  width: 100vw;
  height: 100vh;
  // overflow: hidden;
  background: url(/assets/images/background.jpg) no-repeat 0px 0px;

  .wrapper{
    max-width: 1400px;
    margin: 0 auto;
    background: #767986;

    .app-body{
      display: flex;

      // aside{
      //   width: 20vh;
      // }

      // main{
      //   width: 80vh;
      // }
    }
  }
}
