<div class="chat">

  <div *ngIf="dataNotLoaded" >
    <div class="load">
      <i class="fas fa-sync fa-spin"></i>
    </div>
  </div>

  <div *ngIf="dataLoaded" >
    <div class="chat-header">
      <div class="left">
          <!-- <div *ngIf="chatService.image; else userList" > -->
            <img src="{{ chatsService.chats[chatIndex].picture }}" draggable="false" [title]="chatsService.chats[chatIndex].title"/>
          <!-- </div> -->
          <!-- <ng-template #userList>
            <div class="user" *ngFor="let user of chatService.users; let i=index">
              <div *ngIf="i<2">
                <img src="{{user.image}}" draggable="false" [title]="user.nickname"/>
              </div>
            </div>
          </ng-template> -->
          <div class="chat-about">
            <div class="chat-with">{{chatsService.chats[chatIndex].title}}</div>
            <!-- <div class="chat-num-messages">already {{messages.length}} messages</div> -->
          </div>
      </div>
      <div class="right">
          <div class="video" title="{{ 'hint.video_call' | translate }}">
              <i class="fas fa-video"></i>
          </div>
          <div class="phone" title="{{ 'hint.call' | translate }}">
              <i class="fa fa-phone"></i>
          </div>
          <div class="users" title="Участники" (click)="showUsersList()" [class.menu-active]="showUserList">
              <i class="fas fa-users"></i>
          </div>
          <div *ngIf="chatsService.chats[chatIndex].users[0].id === profile.user.id"  class="add-user" title="{{ 'hint.add_user' | translate }}" (click)="showList()" [class.menu-active]="showAddList">
              <i class="fa fa-user-plus"></i>
          </div>
      </div>
    </div>
  </div>

  <ul class="chat-history" #chat>
    <div *ngIf="dataLoaded" >
      <div class="message-list">
        <li *ngFor="let msg of chatsService.chats[chatIndex].messages; let i = index" class="msg-block">
          <div class="msg" [ngClass]="(msg.sender_id == user.id)?'other-message':'my-message'" (mouseenter)="readMessage(msg)">
            <div *ngIf="chatsService.chats[chatIndex].messages[i-1] && chatsService.chats[chatIndex].messages[i].sender_id === chatsService.chats[chatIndex].messages[i-1].sender_id; else bubble" >
              <div class="msg-outer">
                <div class="bubble" [innerHTML]="msg.message | message"></div>
                <div class="status" title="Сообщение не прочитано" *ngIf="msg.status == 0"></div>
              </div>
            </div>
            <ng-template #bubble>
              <div class="avatar">
                <img src="{{msg.sender_avatar}}" alt="avatar" draggable="false" title="{{msg.sender_nickname}}" (click)="showProfile(msg.sender_id)" class="av"/>
              </div>
              <div class="side">
                <div class="message-data">
                  <div class="nickname" (click)="showProfile(msg.sender_id)">
                    {{ msg.sender_nickname }}
                  </div>
                  <div class="date">
                    {{msg.timestamp | mydate }}
                  </div>
                </div>
                <div class="msg-outer">
                  <div class="message" [innerHTML]="msg.message | message"></div>
                  <div class="status" title="Сообщение не прочитано" *ngIf="msg.status == 0"></div>
                </div>
              </div>
            </ng-template>
          </div>
        </li>
      </div>
    </div>
  </ul>

  <div class="chat-message">

    <div class="outer">
      <div class="message-input">
        <textarea name="message-to-send" id="message-to-send" placeholder ="{{ 'chat.type_message' | translate }}" #messageArea (keydown)="sendMessageOnEnterPress($event)" rows="1" (keydown)="typing()"></textarea>
        <div class="input-items">
          <!-- <div class="item keyboard" title="{{ 'hint.screen_keyboard' | translate }}">
              <i class="far fa-keyboard"></i>
          </div> -->
          <div class="item smiles" title="{{ 'hint.smile' | translate }}">
              <i class="far fa-smile"></i>
          </div>
          <div class="item add" title="{{ 'hint.attach_file' | translate }}">
              <i class="fas fa-paperclip"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="send" title="{{ 'hint.send_message' | translate }}">
        <button (click)="sendMessage(messageArea)">
            <i class="fas fa-paper-plane"></i>
        </button>
    </div>
    <div class="scroll-bottom" (click)="scrollToBottom()" #scrollBottom>В конец</div>
    <!-- <div class="typing">typing...</div> -->
  </div>








  <div *ngIf="dataLoaded" class="add_user" [class.show]="showAddList">
    <div class="corner">
      <i class="fa fa-times" title="Закрыть" (click)="closeList()"></i>
    </div>
    <div *ngIf="addList.length > 0; else noFriends" class="body">
      <div>
        <li *ngFor="let friend of addList; let i = index">
          <div class="friend" (click)="addUser($event, friend)">
            <div class="image">
              <img src="{{friend.avatar}}" alt="avatar" draggable="false"/>
              <div class="status" *ngIf="friend.online">
                <span>
                    <i class="fa fa-circle online"></i>
                </span>
              </div>
            </div>
            <div class="about">
              <div class="name">{{friend.nickname}}</div>
            </div>
          </div>
        </li>
      </div>
      <div class="create_chat">
        <div class="search" *ngIf="chatsService.chats[chatIndex].users.length === 2 && chatsService.chats[chatIndex].users.length + addtempList.length > 2" >
          <div class="search-field">
              <input type="text" placeholder="Название беседы" [(ngModel)]='roomTitle'/>
              <i class="fas fa-comment"></i>
              <i class="fa fa-times" title="Отмена" (click)="clearTitleInput()" *ngIf="roomTitle" ></i>
          </div>
        </div>
        <div class="button" (click)="addUsersToChat()">
          <div class="icon">
            <i class="fas fa-plus-circle"></i>
          </div>
          <div class="description">
            Добавить пользователей
          </div>
        </div>
      </div>
    </div>
    <ng-template #noFriends>
        <li class="notification">
          Список пуст
        </li>
    </ng-template>
  </div>




  <div *ngIf="dataLoaded" class="add_user" [class.show]="showUserList">
    <div class="corner">
      <i class="fa fa-times" title="Закрыть" (click)="closeUserList()"></i>
    </div>
    <div class="body">
      <div>
        <li *ngFor="let user of chatsService.chats[chatIndex].users; let i = index">
          <div class="friend" (click)="showProfile(user.id)">
            <div class="image">
              <img src="{{user.avatar}}" alt="avatar" draggable="false"/>
              <div class="status" *ngIf="user.online">
                <span>
                    <i class="fa fa-circle online"></i>
                </span>
              </div>
            </div>
            <div class="about">
              <div class="name">{{user.nickname}}</div>
            </div>
          </div>
        </li>
      </div>
    </div>
  </div>


</div>

