<div class="chat">

  <div class="chat-header">
    <div class="left">
        <img src="{{chatService.image}}" draggable="false" [title]="chatService.title"/>
        <div class="chat-about">
          <div class="chat-with">{{chatService.title}}</div>
          <!-- <div class="chat-num-messages">already {{messages.length}} messages</div> -->
        </div>
    </div>
    <div class="right">
        <div class="video" title="Видеозвонок">
            <i class="fa fa-video-camera"></i>
        </div>
        <div class="phone" title="Позвонить">
            <i class="fa fa-phone"></i>
        </div>
        <div class="add-user" title="Добавить пользователя">
            <i class="fa fa-user-plus"></i>
        </div>
    </div>
  </div>

  <ul class="chat-history" #chat>
    <div class="message-list">
      <li *ngFor="let msg of chatService.messages" class="msg-block">
        <div [ngClass]="(msg.sender_id == 99)?'my-message':'other-message'">
          <div class="message-data">
            <div class="row">
                <img src="{{msg.sender_image}}" alt="avatar" draggable="false" title="{{msg.sender_name}}"/>
                <span class="message-data-time" >{{msg.timestamp}}</span>
            </div>
          </div>
          <div class="msg">
            <div class="message" [innerHTML]="msg.message"></div>
          </div>
        </div>
      </li>
    </div>
  </ul>

  <div class="chat-message">

    <div class="outer">
      <div class="message-input">
        <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" #messageArea (keydown)="sendMessageOnEnterPress($event)" rows="1"></textarea>
        <div class="input-items">
          <div class="item keyboard" title="Экранная клавиатура">
              <i class="fa fa-keyboard-o"></i>
          </div>
          <div class="item smiles" title="Добавить смайл">
              <i class="fa fa-smile-o"></i>
          </div>
          <div class="item add" title="Прикрепить файл">
              <i class="fa fa-paperclip"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="send" title="Отправить сообщение">
        <button (click)="sendMessage(messageArea)">
            <i class="fa fa-paper-plane"></i>
        </button>
    </div>
    <div class="scroll-bottom" (click)="scrollToBottom()" #scrollBottom>В конец</div>
  </div>

</div>
