@import url('https://fonts.googleapis.com/css?family=Comfortaa');

.container{
  font-family: 'Comfortaa', cursive;
  width: 100%;
  text-align: center;
  background: #f2f7f7;
  overflow: hidden;

  .main{
    overflow-y: scroll;
    padding: 20px;
    display: flex;
    height: 100vh;

    @media screen and (max-width: 1000px){
      display: block;
    }

    @media screen and (max-width: 600px){
      padding: 10px;
    }

    @media screen and (max-width: 500px){
      padding-bottom: 50px;
    }
  }

  .user{
    padding: 20px 30px;
    width: 450px;
    border-right: 2px solid #c0c0c0;
    position: relative;

    @media screen and (max-width: 1000px){
      border-right: none;
      margin: 0 auto;
      border-bottom: 2px solid #c0c0c0;
    }

    @media screen and (max-width: 600px){
      padding: 10px 15px;
      width: 100%;
    }

    @media screen and (max-width: 500px){
      padding: 7px 10px;
    }

    .avatar{
      border-radius: 50%;
      height: 300px;
      width: 300px;
      overflow: hidden;
      margin: 0 auto;
      position: relative;
      border: 5px solid #d2d2d2;

      @media screen and (max-width: 600px){
        height: 250px;
        width: 250px;
      }

      &:hover .edit{
        display: flex;
      }


      .edit{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        display: none;
        justify-content: center;
        align-items: center;

        .block{
          div{
            cursor: pointer;
            margin-bottom: 5px;

            label{
              cursor: pointer;
            }

            &:hover{
              text-decoration: underline;
            }
          }
        }
      }

      img {
        vertical-align: middle;
        height: inherit;
        width: inherit;
      }
    }

    .name{
      font-size: 30px;
      margin: 40px 0;
      color: #4a4a4a;
      width: 100%;
      overflow:hidden;
      display:inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-right: 10px;

      @media screen and (max-width: 500px){
        white-space: normal;
      }
    }


    .buttons{
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      margin-bottom: 20px;

      @media screen and (max-width: 1000px){
        position: relative;
      }

      .active{
        color: #f9e962 !important;
      }

      .button{
        width: 100px;
        display: flex;
        margin-right: 5px;
        cursor: pointer;
        position: relative;
        padding: 5px 12px;
        transition: background-color .25s ease, border-color .25s ease, color .25s ease;
        text-align: center;
        color: #fff;
        border: 1px solid #434a54;
        border-radius: 4px;
        background: #656d78;
        font-size: 25px;

        .icon {
          margin: 0 auto;
        }


        @media screen and (max-width: 1000px){
          margin-top: 20px;
        }

        @media screen and (max-width: 600px){
          margin-top: 10px;
        }

        &:hover{
          border-color: #434a54;
          background-color: #434a54;

          .red{
            color: #ec5b51 !important;
          }
        }

        &:disabled{
          cursor: not-allowed;
          pointer-events: none;
          opacity: .65;
        }

        *{
          cursor: pointer;
          transition: color .25s;
        }
      }
    }
  }

  .user-info{
    flex-grow: 1;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 600px){
      padding: 0 10px;
    }

    .block{
      padding: 20px 0;
      border-bottom: 1px solid #c0c0c0;

      &:last-child{
        border: none;
      }

      table{
        width: 100%;

        input{
          outline: none;
          font-size: 15px;
          color: #7b7b7b;
          // padding: 15px 40px 15px 40px;
          width: 100%;
          border: none;
          border-bottom: 1px solid #DCCBCF;
          background: transparent;
        }

        input, select{
          font-family: 'Times New Roman', serif;
        }

        thead{
          th{
            padding-bottom: 10px;
          }
        }
        tbody{
          td{
            width: 50%;
            height: 29px;
            border-bottom: 1px solid transparent;
            &:nth-child(1){
              text-align: right;
              padding-right: 5px;
              color: #7b7b7b;
              font-weight: bold;
            }
            &:nth-child(2){
              text-align: left;
              padding-left: 5px;
            }
          }
        }
      }
    }
  }
}

