.wrapper {
  height: 100vh;
  width: 100vw;
  background:#fff;
  background-size: cover;
  background: url(/assets/images/background.jpg) no-repeat 0px 0px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;

  .form-panel {
    background: rgba(4, 4, 4, 0.56);
    box-shadow: 0px 35px 44px -22px #1f181b;
    padding: 40px 35px;
    width: 450px;
    user-select: none;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;

    h2 {
      color: #fff;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 2em;
      letter-spacing: 2px;
    }
  }
}


.form-field{
  position:relative;

  &__icon {
    display: inline-block;
    position: absolute;
    left: 12px;
    bottom: 15px;

    i {
      color: #ffffff;
      font-size: 16px;
    }
  }

  &__valid {
    display: inline-block;
    position: absolute;
    right: 12px;
    bottom: 15px;
    cursor: pointer;

    i {
      color: #e46f65;
      font-size: 16px;
      cursor: pointer;
    }

    &:hover .valid_message{
        display: block;
    }

    .valid_message{
      position: absolute;
      top: -17px;
      left: 300%;
      background: rgba(4, 4, 4, 0.7);
      color: #fff;
      padding: 10px;
      border-radius: 4px;
      text-transform: none;
      min-width: 250px;
      display: none;

      &:before{
        content: '';
        position: absolute;
        top: 10px;
        right: 100%;
        border: 15px solid transparent;
        border-right: 15px solid rgba(4, 4, 4, 0.7);;
      }
    }
  }

  input.ng-touched.ng-invalid{
    border-bottom: 1px solid #f00;
  }

  input[type="text"],input[type="password"],input[type="email"] {
    outline: none;
    font-size: 15px;
    color: #ffffff;
    padding: 15px 40px 15px 40px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #DCCBCF;
    background: transparent;
  }
}

.input-wrap{
    margin-bottom: 30px;

  &:after{
    content: '';
    position: absolute;
    background: #af2aff;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0%;
    transition: width 0.5s;
  }

}

.focus:after{
    width: 100%;
}

.submit-panel{
    margin-top: 55px;

    &__button{
        border-radius: 3px;
        background: #fff;
        color: #000;
        outline: none;
        display: block;
        width: 100%;
        border: none;
        cursor: pointer;
        padding: 15px 38px;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        transition: 0.3s all;
        text-align: center;

        &:disabled{
          background: #adadad;
          cursor: not-allowed;
        }

        &:hover:enabled{
          background: #af2aff;
          color:#ffffff;
          transition: 0.3s all;
          animation: glow 1s ease-out infinite alternate;
        }
    }

}

.reg-panel, .restore-panel, .login-panel{
    font-size: 13px;
    color: #eee;
    margin-top: 3em;
    text-align: center;
    text-transform: none;

    &__link{
      color: #af2aff;
      outline:none;
      text-decoration:none;
      margin-left: 0.5rem;

      &:hover{
        color: #9228b3 !important;
      }
  }
}

.restore-panel {
    margin-top: 1rem;
}

.social-sign-up{
    margin-top: 2rem;
    text-align: center;

  .description{
    color: #fff;
    padding: 1rem;
    font-size: 12px;
  }

  .social-nav {
    padding: 0;
    list-style: none;
    display: inline-block;
    margin: 10px auto;

    .twitter {
      color: #00aced;
    }
    .facebook {
      color: #3b579d;
    }
    .google-plus {
      color: #dd4a3a;
    }
    .vk {
      color: #007bb6;
    }

    li {
      display: inline-block;
      margin: 0 10px;
    }

    a, a *{
      cursor: pointer;
    }

    a {
      display: inline-block;
      width: 48px;
      height: 48px;
      font-size: 20px;
      color: #FFF;
      text-decoration: none;
      cursor: pointer;
      text-align: center;
      line-height: 48px;
      position: relative;
      background: none;
      box-shadow: 0 0 4px 3px;
      text-shadow: 0 0 1px #333333;
      transition: transform 0.4s, background 0.4s;
      border-radius: 100%;

      &:hover{
        background: #fff;
      }

      &:hover .fa {
        transform: rotate(-10deg) scale(3);
      }

      .fa{
        transition: transform 1s;
        transform: translate3d(0,0,0);
      }
    }
  }
}
