<div class="wrapper">
  <div class="form-panel" *ngIf="isDataLoaded">
    <h2 class="title">{{ 'login_page.title' | translate }}</h2>
    <form action="#" method="post">
      <div class="form-field">
        <div #emailField class="input-wrap">
          <input type="email" name="Username" placeholder="{{ 'login_page.email' | translate }}" (focus)="onFocusField(emailField)" (blur)="onBlurField(emailField)"/>
        </div>
        <div class="form-field__icon">
          <i class="fa fa-user" aria-hidden="true"></i>
        </div>
      </div>
      <div class="form-field">
        <div #passwordField class="input-wrap">
          <input type="password" name="Password" placeholder="{{ 'login_page.password' | translate }}" (focus)="onFocusField(passwordField)" (blur)="onBlurField(passwordField)"/>
        </div>
        <div class="form-field__icon">
          <i class="fa fa-unlock-alt" aria-hidden="true"></i>
        </div>
      </div>
      <div class="submit-panel">
        <input class="submit-panel__button" type="submit" value="{{ 'login_page.enter' | translate }}" (click)="login($event)">
      </div>
      <div class="social-sign-up">
        <div class="description">
          {{ 'login_page.social' | translate }} :
        </div>
        <ul class="social-nav">
          <li>
            <a class="twitter">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a class="facebook">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a class="google-plus">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
          <li>
            <a class="vk">
              <i class="fa fa-vk"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="reg-panel">
        {{ 'login_page.no_account' | translate }}?
        <a class="reg-panel__link" routerLink="/auth/registration">
          {{ 'login_page.registration' | translate }}
        </a>
      </div>
      <div class="restore-panel">
        {{ 'login_page.forgot_password' | translate }}?<a class="restore-panel__link" routerLink="/restore">{{ 'login_page.restore_password' | translate }}</a>
      </div>
    </form>
  </div>
</div>
