<div *ngIf="onlineService.usersFiltered.length > 0; else noFriends">
  <li class="friend" *ngFor="let friend of onlineService.usersFiltered; let i = index" routerLink="/app/friends/online/user/{{friend.id}}">
    <div class="image">
      <img src="{{friend.image}}" alt="avatar" draggable="false"/>
      <div class="status">
        <span *ngIf="friend.online; else offline" >
            <i class="fa fa-circle online"></i>
        </span>
        <ng-template #offline>
            <i class="fa fa-circle offline"></i>
        </ng-template>
      </div>
    </div>
    <div class="about">
      <div class="name">{{friend.name}}</div>
      <div class="favorite" *ngIf="true === true"  title="Добавить в избранное">
          <i class="fa fa-star"></i>
      </div>
    </div>
  </li>
</div>
<ng-template #noFriends>
    <li class="notification" *ngIf="searchInput.value == ''; else noMatch">
      Друзей онлайн нет
    </li>
    <ng-template #noMatch>
      <li class="notification">
        Друзей онлайн не найдено
      </li>
    </ng-template>
</ng-template>
