<div *ngIf="inviteService.usersFiltered.length > 0; else noMatch">
  <li class="friend" *ngFor="let friend of inviteService.usersFiltered; let i = index">
    <div class="image">
      <img src="{{friend.image}}" alt="avatar" draggable="false"/>
      <div class="status">
        <span *ngIf="friend.online; else offline" >
            <i class="fa fa-circle online"></i>
        </span>
        <ng-template #offline>
            <i class="fa fa-circle offline"></i>
        </ng-template>
      </div>
    </div>
    <div class="about">
      <div class="name">{{friend.name}}</div>
      <div class="right">
        <div class="item favorite" *ngIf="!friend.isFavorite"  title="Добавить в избранное">
            <i class="fa fa-star"></i>
        </div>
        <div class="item add" title="Добавить в друзья">
            <i class="fa fa-plus"></i>
        </div>
        <div class="item refuse" title="Проигнорировать приглашение">
            <i class="fa fa-times" (click)="rejectFriendship(i)"></i>
        </div>
      </div>
    </div>
  </li>
</div>
<ng-template #noMatch>
  <li class="notification" *ngIf="searchInput.value !== ''; else noSearch">
    Заявок не найдено
  </li>
  <ng-template #noSearch>
    <li class="notification">
      Нет новых заявок
    </li>
  </ng-template>
</ng-template>
