<div *ngIf="friendsService.invites.length > 0; else noFriends">
  <li class="friend" *ngFor="let friend of friendsService.invites; let i = index">
    <div class="image">
      <img src="{{friend.image}}" alt="avatar" draggable="false"/>
      <div class="status">
        <span *ngIf="friend.online == 'online'; else left" >
            <i class="fa fa-circle online"></i>
        </span>
        <ng-template #left>
            <i class="fa fa-circle offline"></i>
        </ng-template>
      </div>
    </div>
    <div class="about">
      <div class="name">{{friend.name}}</div>
      <div class="favorite" *ngIf="friend.favorite === false"  title="Добавить в избранное">
          <i class="fa fa-star" (click)="friendsService.invites[i].setFavorite()"></i>
      </div>
    </div>
  </li>
</div>
<ng-template #noFriends>
    <li class="notification" *ngIf="searchInput.value == ''; else noMatch">
      Нет новых приглашений
    </li>
    <ng-template #noMatch>
      <li class="notification">
        Приглашений не найдено
      </li>
    </ng-template>
</ng-template>
