<div class="container">
  <div class="side-field">
    <div class="search">
      <div class="search-field">
          <input type="text" placeholder="{{ 'form.input.search' | translate }}" #search/>
          <i class="fa fa-search"></i>
          <i class="fa fa-times" title="Отмена" (click)="clearSearchInput()" *ngIf="search.value !== ''" ></i>
      </div>
    </div>
    <div class="add_chat" (click)="showList()">
      <div class="desc">
        <span>
          Создать беседу
        </span>
      </div>
    </div>
    <ul class="user-list" #chatList>
      <div *ngIf="dataIsLoaded; else loading">
        <div class="divider"></div>
        <div *ngIf="chatService.chatsFiltered.length > 0; else notFound">
          <li *ngFor="let chat of chatService.chatsFiltered; let i = index">
            <div class="user" routerLink="{{chat.id}}" routerLinkActive="link-active">
              <div class="image">
                <img [src]="chat.picture" alt="avatar" draggable="false"/>
                <!-- <div class="status"> -->
                  <!-- <span *ngIf="user.online === true; else left" >
                      <i class="fa fa-circle online"></i>
                      {{user.online}}
                  </span> -->
                  <!-- <ng-template #left>
                      <i class="fa fa-circle offline"></i>
                  </ng-template> -->
                <!-- </div> -->
              </div>
              <div class="about">
                <div class="name">
                  <span>
                    {{chat.title}}
                  </span>
                </div>
                <div class="last-message">
                  <span>
                    {{chat.message | messageList}}
                  </span>
                </div>
              </div>
            </div>
          </li>
        </div>
        <ng-template #notFound>
          <li class="notification" *ngIf="!searchValue; else noMatch">
            Список пуст
          </li>
          <ng-template #noMatch>
            <li class="notification">
              Беседа не найдена
            </li>
          </ng-template>
        </ng-template>
      </div>
      <ng-template #loading>
        <div class="load" title="{{ 'hint.loading' | translate }}">
          <i class="fas fa-sync fa-spin fa-3x fa-fw"></i>
        </div>
      </ng-template>
    </ul>
    <div *ngIf="dataIsLoaded && showAddList" class="add_user">
      <div class="corner">
        <i class="fa fa-times" title="Закрыть" (click)="closeList()"></i>
      </div>
      <div *ngIf="friendsService.usersFiltered.length > 0; else noFriends" class="body">
        <div>
          <li *ngFor="let friend of friendsService.usersFiltered; let i = index">
            <div class="friend" (click)="addUser($event, friend)">
              <div class="image">
                <img src="{{friend.avatar}}" alt="avatar" draggable="false"/>
                <div class="status" *ngIf="friend.online">
                  <span>
                      <i class="fa fa-circle online"></i>
                  </span>
                </div>
              </div>
              <div class="about">
                <div class="name">{{friend.nickname}}</div>
              </div>
            </div>
          </li>
        </div>
        <div class="create_chat">
          <div class="search" *ngIf="userList.length > 2 && !chatIsExist" >
            <div class="search-field">
                <input type="text" placeholder="Название беседы" [(ngModel)]='roomTitle'/>
                <i class="fas fa-comment"></i>
                <i class="fa fa-times" title="Отмена" (click)="clearTitleInput()" *ngIf="roomTitle" ></i>
            </div>
          </div>
          <div class="button" (click)="createChat()" *ngIf="!chatIsExist" >
            <div class="icon">
              <i class="fas fa-plus-circle" *ngIf="!chatIsExist" ></i>
            </div>
            <div class="description" *ngIf="!chatIsExist" >
              Создать беседу
            </div>
          </div>
          <div class="button" (click)="openChat()" *ngIf="chatIsExist">
            <div class="icon">
              <i class="fas fa-arrow-circle-right" *ngIf="chatIsExist" ></i>
            </div>
            <div class="description" *ngIf="chatIsExist" >
              Перейти к беседе
            </div>
          </div>
        </div>
      </div>
      <ng-template #noFriends>
          <li class="notification">
            Список пуст
          </li>
      </ng-template>
    </div>
  </div>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
